@import 'variables';

*{
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.background-philly{
    background-image: url("../img/philly-2x-2.jpg");
    background-size: cover;
    height: 700px;
}
.headshot{
    background-image: url("../img/michaelwiebe.jpg");
    background-size: cover;
    height: 400px;
    width: 300px;
    background-position-x: -19px;
    margin: 100px 20px;
}

.basic-info{
    width: 370px;
    margin: 220px 20px;
    text-shadow: 2px 2px antiquewhite;
}
.name{
    font-family: $font-mont;
    font-size: 50px;
}
.title{
    font-family: $font-titillium;
    font-size: 38px;
}
.text-box{
    background-color: rgba(0,0,0, .4);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 3px 4px white;
}
.text-box li{
    text-shadow: 2px 2px white;
}
.skills{
    font-family: $font-bubble;
    height: 300px;
    text-align: center;
    justify-content: space-around;
    padding: 20px 75px;
}
.skill{
    margin: 10px;
}
.skill ul{
    list-style-type: none;
    font-size: 35px;
}
.languages{
}
.frameworks{
}
.other{
}
.work{
    height: 400px;
    background-color: rgb(53, 181, 158);
    text-align: center;
}
.section-title{
    width: 100%;
}
.project-box{
    width: 300px;
    height: 500px;
    margin: 0 auto;
}
.project-description li{
    font-size: 16px;
}
.background-philly2{
    background-image: url('../img/philly-1x-1.jpg');
    background-size: cover;
    height: 600px;
}
.connect{
    height: 200px;
}
